<footer class="footer mt-3 px-4">
    <div>
        <a href="https://taskist.github.io/" target="_blank">Taskist</a> © <script>document.write(new Date().getFullYear());</script> Somaraj
    </div>
    <div class="ms-auto">
        <a href="https://taskist.github.io/" class="me-3" target="_blank">Version 1.0 alpha</a>
        <a href="https://taskist.github.io/" target="_blank">Support</a>
    </div>
</footer>